<div id="main2">

	<div id="left_part2"><h4 class="head5 ">Logged Out &nbsp;&nbsp;</h4></div>
	<div id="right_part2"><%= button_to "Log on", {:controller => :logoff, :action => :login},{class: "pos2"} %></div>
</div>