<!DOCTYPE html>
<html>
<head>
  <title>EbayApp</title>
  <%= stylesheet_link_tag    'preferred', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   
</head>
<body class = "background">
<h1 class = "head1"><b class="ll1">e</b><b class="ll2">b</b><b class="ll3">a</b><b class="ll4">y</b></h1>
<br/>
<%= yield %>

</body>
</html>
